<!DOCTYPE html>
<html>
<head>
  <title>Havala</title>
  <%= stylesheet_link_tag    "havala/application", media: "all" %>
  <%= javascript_include_tag "havala/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
